<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
    <title>Deal</title>
    <!-- css -->
    <link href="../css/base.min.css" rel="stylesheet">
    <!-- css for this project -->
    <link href="../css/project.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <!-- favicon -->
    <!-- ... -->
    <!-- ie -->
    <!--[if lt IE 9]>
        <script src="../js/html5shiv.min.js"></script>
        <script src="../js/respond.min.js"></script>
    <![endif]-->
    
</head>
<body class="avoid-fout page-brand">
  
    <header class="header header-waterfall" style="background-color:#3f51b5;color:white;">
        <ul class="nav nav-list pull-left" id="navmenu">
            <li>
                <a href="#menu">
                    <span class="icon icon-lg" id="backspace">keyboard_backspace</span>
                </a>
            </li>
        </ul>
        <a class="header-logo margin-left-no" href="#" id="dealid">Approvals</a>
    </header>
    <div class="content">
        <section class="content-inner"></section>
        <div class="container">
            <form class="form">
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Deal-Id">Deal Id</label>
                            <input class="form-control" id="Deal-Id" type="text" value="1-HIJJAL" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Activity-Type">Activity Type</label>
                            <select class="form-control" id="Activity-Type" aria-controls="datepicker-adv-2_table" title="Select Activity Type">
                                <option hidden></option>
                                <option>Account Opening - Non WMS</option>
                                <option>Account Opening - WMS</option>
                                <option>Account Review</option>
                                <option>Administration</option>
                                <option>Alert - New Claim Payment</option>
                                <option>Alert - New Fraud Case</option>
                                <option>Alert - New Subrogation Case</option>
                                <option>Analyst Meeting</option>
                                <option>Appointment</option>
                                <option>CADD/ BIR Update</option>
                                <option>Call - Callback</option>
                                <option>Call - Voice Mail</option>
                                <option>Call - Web Callback</option>
                                <option>Campaign Execution</option>
                                <option>Campaign Review</option>
                                <option>Case Report Form</option>
                                <option>Case Report Form</option>
                                <option selected>Change of Address</option>
                                <option>Chat - Inbound</option>
                                <option>Chat - Transfer</option>
                                <option>Check Balance</option>
                                <option>Check Payment</option>
                                <option>CitiDirect X Regional Imp</option>
                                <option>Client At Risk</option>
                                <option>Communication</option>
                                <option>Complaint ¿ Dropped Calls</option>
                                <option>Conference</option>
                                <option>Correspondence</option>
                                <option>Coverage Deletion Approval</option>
                                <option>Coverage Replacement Approval</option>
                                <option>Coverage Request Approval</option>
                                <option>Credit Approval</option>
                                <option>Credit Review</option>
                                <option>Customer Admin Issues(Billing)</option>
                                <option>Customer Event</option>
                                <option>Customer Investigation</option>
                                <option>Customer Meeting</option>
                                <option>DTR</option>
                                <option>De-Dup Contacts</option>
                                <option>Deal Review</option>
                                <option>Deal Review - HL</option>
                                <option>Deal Review - IM</option>
                                <option>Deal Review - Meeting</option>
                                <option>Deal Review - Notification</option>
                                <option>Deal Review - SR</option>
                                <option>Deal Review Meeting</option>
                                <option>Demonstration</option>
                                <option>Detail</option>
                                <option>Detail</option>
                                <option>Detail With Sample Drop</option>
                                <option>Detail With Sample Drop</option>
                                <option>Detail With Samples</option>
                                <option>Detail With Samples</option>
                                <option>Disconnect</option>
                                <option>Documentation</option>
                                <option>Duplicate Company</option>
                                <option>Email</option>
                                <option>Email - Inbound</option>
                                <option>Email - Outbound</option>
                                <option>Entertainment</option>
                                <option>Event</option>
                                <option>Fax</option>
                                <option>Fees Inquiry</option>
                                <option>Field Appraisal</option>
                                <option>Follow-Up</option>
                                <option>Implementation</option>
                                <option>Implementation</option>
                                <option>Implementation</option>
                                <option>Implementation - Checker</option>
                                <option>Implementation Checker</option>
                                <option>Implementation Follow-Up</option>
                                <option>Implementation Follow-up</option>
                                <option>Implementation Issues</option>
                                <option>Implementation Issues</option>
                                <option>Industry Expert</option>
                                <option>Internal Meeting</option>
                                <option>Investigative</option>
                                <option>Mail</option>
                                <option>Marketing eEvent</option>
                                <option>Media Run</option>
                                <option>News Media</option>
                                <option>Non WMS - Account Request</option>
                                <option>Non-standard pricing approval</option>
                                <option>Open Source</option>
                                <option>Order Checks</option>
                                <option>Order Review - IM</option>
                                <option>Order Review - Meeting</option>
                                <option>Order Review - Notification</option>
                                <option>Order Review - SR</option>
                                <option>Other</option>
                                <option>Outlook Appointment</option>
                                <option>Payout Approval</option>
                                <option>Payout Approval - AT</option>
                                <option>Payout Approval - CM</option>
                                <option>Payout Approval - SFS</option>
                                <option>Personal</option>
                                <option>Phone</option>
                                <option>Phone Call</option>
                                <option>Platinum Review</option>
                                <option>Portfolio Approval</option>
                                <option>Preparation</option>
                                <option>Presentation</option>
                                <option>Pricing</option>
                                <option>RFP</option>
                                <option>RFP Preparation</option>
                                <option>Research</option>
                                <option>Sales Meeting</option>
                                <option>Sample Drop</option>
                                <option>Satisfaction Survey</option>
                                <option>Send Information</option>
                                <option>Service Review</option>
                                <option>Session</option>
                                <option>Stage Execution</option>
                                <option>Subpoena</option>
                                <option>Target Approval</option>
                                <option>Target Approval - CM</option>
                                <option>Target Approval - SFS</option>
                                <option>Tele-Marketing</option>
                                <option>To Do</option>
                                <option>Trader Meeting</option>
                                <option>Training</option>
                                <option>Training Request</option>
                                <option>Travel</option>
                                <option>Update Profile</option>
                                <option>Upgrade SMS Plan</option>
                                <option>Upgrade Voice Plan</option>
                                <option>WMS Account Request</option>
                                <option>Warrant</option>
                                <option>Work Order</option>
                                <option>X_ADD_Bulk_EIM</option>
                                <option>X_ADD_CIS_COVERAGE</option>
                                <option>X_ADD_LOV</option>
                                <option>X_BIDS_UPDATE</option>
                                <option>X_CASH_LOAD</option>
                                <option>X_CLEAN DATA</option>
                                <option>X_CLEAN_ACCOUNTS</option>
                                <option>X_CLEAN_BULKEIM</option>
                                <option>X_CLEAN_LOV</option>
                                <option>X_CLEAN_MKTG</option>
                                <option>X_CLEAN_PROD_LINE</option>
                                <option>X_CLEAN_TRG_MKT</option>
                                <option>X_CONTACT_ACCESS</option>
                                <option>X_CONTACT_UPD</option>
                                <option>X_COVERAGE_DRILLDOWN</option>
                                <option>X_Client Coverage</option>
                                <option>X_DELETE_CIS_COVERAGE</option>
                                <option>X_DEL_CIS_COVERAGE</option>
                                <option>X_LOAD_CIS</option>
                                <option>X_ONE_TIMEPRIMARY</option>
                                <option>X_PATCH_CASH_LOAD</option>
                                <option>X_PATCH_PAR_ASSET</option>
                                <option>X_PRIMARY_ASSIGNMENT</option>
                                <option>X_PROSPECT_CLEAN</option>
                                <option>X_PROSPECT_LOAD</option>
                                <option>X_ROLE_UPD</option>
                                <option>X_SOURCE_UPD</option>
                                <option>X_TEST_PATCH</option>
                                <option>X_Target Market</option>
                                <option>X_UPDATE_AUTOEIM</option>
                                <option>X_UPLOAD_ICM</option>
                                <option>X_UPLOAD_MKTG</option>
                                <option>eFlow Account Request</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Status">Status</label>
                            <select class="form-control" id="Status" aria-controls="datepicker-adv-2_table" title="Select Status">
                                <option hidden></option>
                                <option>App Req by TCRF Ops Maker</option>
                                <option>Declined</option>
                                <option>Approval Required</option>
                                <option>Not Started</option>
                                <option>Submitted to WMS</option>
                                <option>Submitted to eFlow</option>
                                <option>Account Requested-CAMU</option>
                                <option>App Req By Checker</option>
                                <option>App Req By Maker</option>
                                <option>Approval Required by AOA</option>
                                <option>Approval Required by AS1</option>
                                <option>Approval Required by CGSL</option>
                                <option selected>In Progress</option>
                                <option>Open</option>
                                <option>Requested</option>
                                <option>Submitted for Approval</option>
                                <option>Mark for Deletion</option>
                                <option>On Hold</option>
                                <option>Acknowledged</option>
                                <option>Unscheduled</option>
                                <option>Upload In Progress</option>
                                <option>Done</option>
                                <option>Cancelled</option>
                                <option>Activity Deleted</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Description">Description</label>
                            <textarea class="form-control textarea-autosize" id="Description" rows="1">
                                lorem ipsum  is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label" id="companynamediv">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Company-Name">Company</label>
                            <input class="form-control" id="Company-Name" type="text" data-toggle="modal" href="#modal-big" value="GOVERNMENT OF THE PEOPLES REPUBLIC OF CHINA">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label" id="Assigneddiv">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Assigned">Assigned To</label>
                            <input class="form-control" id="Assigned" type="text" data-toggle="modal" href="#modal-Assigned" value="Achnitz Jagkaran">
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8">
                            <label class="floating-label" for="Comments">Comments</label>
                            <textarea class="form-control textarea-autosize" id="Comments" rows="1"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-label">
                    <div class="row">
                        <div class="form-group-btn col-lg-6 col-sm-8">

                            <button class="btn btn-brand-accent waves-attach waves-button waves-light" type="submit">Submit</button><!--<button class="btn waves-attach waves-button" type="reset">Reset</button>-->

                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div aria-hidden="true" class="modal fade" id="modal-big" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <a class="modal-close" data-dismiss="modal" style="margin-right:0px !important;">&times;</a>
                    <div class="modal-heading">


                        <a class="header-logo icon icon-lg pull-right form-icon-label" id="show">search</a>
                        <div class="media-inner">
                            <input class="form-control clearable" id="myFilter" placeholder='Search Company' type="text">
                        </div>

                    </div>
                    <table id="mysearch" title="Default Tabl" style="font-size:10px !important;margin-left:20px;margin-right:20px;" data-filter="true" data-input="#myFilter">
                        <thead>
                            <tr style="table-layout:fixed;display: block;">
                                <th>Company Name</th>
                                <th>GFCID</th>

                            </tr>
                        </thead>
                        <tbody style="height:200px;display: block;overflow-y: auto;overflow-x: hidden;">
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-1">
                                            <input class="access-hide" id="input-radio-inline-1" name="input-radio-inline" type="radio" value="GOVERNMENT OF THE PEOPLES REPUBLIC OF CHINA"> GOVERNMENT OF THE PEOPLES REPUBLIC OF CHINA
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>


                                </td>
                                <td>1000688009</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-2">
                                            <input class="access-hide" id="input-radio-inline-2" name="input-radio-inline" type="radio" value="BAUSCH & LOMB INCORPORATED">BAUSCH & LOMB INCORPORATED
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>


                                </td>
                                <td>23108</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-3">
                                            <input class="access-hide" id="input-radio-inline-3" name="input-radio-inline" type="radio" value="AXIMA REFRIGERATION SANV">AXIMA REFRIGERATION SANV
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>


                                </td>
                                <td>1009373639</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-4">
                                            <input class="access-hide" id="input-radio-inline-4" name="input-radio-inline" type="radio" value="JOHAMBRO - JOHAMBROCM - BMW1">JOHAMBRO - JOHAMBROCM - BMW1
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>


                                </td>
                                <td>1017707848</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-5">
                                            <input class="access-hide" id="input-radio-inline-5" name="input-radio-inline" type="radio" value="MONROE CAPITAL LLC">MONROE CAPITAL LLC
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>


                                </td>
                                <td>100952365</td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <p class="text-right">
                            <!--<button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button>-->
                            <button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button" id="companybtn">OK</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div aria-hidden="true" class="modal fade" id="modal-Assigned" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <a class="modal-close" data-dismiss="modal" style="margin-right:0px !important;">&times;</a>
                    <div class="modal-heading">


                        <a class="header-logo icon icon-lg pull-right form-icon-label" id="show">search</a>
                        <div class="media-inner">
                            <input class="form-control clearable" id="myFilter" placeholder='Search' type="text">
                        </div>

                    </div>
                    <table id="AssigneTable" title="Default Tabl" style="font-size:10px !important;margin-left:20px;margin-right:20px;" data-filter="true" data-input="#myFilter">
                        <thead>
                            <tr style="table-layout:fixed;display: block;">
                                <th>Last Name & First Name</th>
                            </tr>
                        </thead>
                        <tbody style="height:200px;display: block;overflow-y: auto;overflow-x: hidden;">
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-Assigne-1">
                                            <input class="access-hide" id="input-radio-inline-Assigne-1" name="input-radio-inline" type="radio" value="Acharya Satish">Acharya Satish
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>
                                </td>                              
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-Assigne-2">
                                            <input class="access-hide" id="input-radio-inline-Assigne-2" name="input-radio-inline" type="radio" value="Singh Jagkaran">Singh Jagkaran
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio radio-adv radio-inline" style="font-size:9px;">
                                        <label for="input-radio-inline-Assigne-3">
                                            <input class="access-hide" id="input-radio-inline-Assigne-3" name="input-radio-inline" type="radio" value="Achnitz Jagkaran">Achnitz Holger
                                            <span class="circle"></span><span class="circle-check"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <p class="text-right">
                            <!--<button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button>-->
                            <button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button" id="Assignedbtn">OK</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- js -->
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/base.min.js"></script>
    <!-- js for this project -->
    <script src="../js/project.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#backspace").click(function () {
                window.location.replace("approvals.html");
            });
            $("#companybtn").click(function () {
                var company = $('input[name=input-radio-inline]:checked', '#mysearch').val();
                $("#Company-Name").val(company);
                $("#companynamediv").addClass("control-highlight");
            });
            $("#Assignedbtn").click(function () {
                var Assigned = $('input[name=input-radio-inline]:checked', '#AssigneTable').val();
                $("#Assigned").val(Assigned);
                $("#Assigneddiv").addClass("control-highlight");
            });
        });
    </script>
</body>
</html>
